
* {
  margin: 0;
  padding: 0;

}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}


.navbar {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #124e88; */
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}


.navbar h2, h3 {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  margin-left: 30px;
  font-size: 20px;
  color: #6e65c6;
}

.User {
  margin: 0px 8px;
  font-size: 20px;
  color: #6e65c6;
  cursor: pointer;

}



.navbar .span img {
  margin-bottom: 0.2rem;
  padding: 0 5px;
  color: #6e65c6;
}

/* Logout Section */
.logout {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logout h3 {
  background-color: white;
  border-radius: 10px;
  font-size: 1.9rem;
  color: #6e65c6;
}

.logout .logout-icon {
  font-size: 4rem;
  transform: rotate(180deg);
  margin-right: -40px;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}



/* Responsive Design */
@media (max-width: 768px) {
  .navbar h2 {
    font-size: 1.4rem;
    margin-left: 10px;
  }

  .logout h3 {
    font-size: 1.2rem;
  }

  .logout .logout-icon {
    font-size: 1.8rem;
  }
}
